<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New message</title>
</head>
<body>
     <form method="POST" action="/new">
        <div>
            <label for="user">Username: </label>
            <input type="text" id="user" name="user">
        </div>
        <div>
            <label for="message">Message: </label>
            <textarea id="message" name="message"></textarea>
        </div>
        <input type="submit">
     </form>
</body>
</html>