<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <% messages.map((message) => { %>
        <%- include("message", {message: message}); %>
        <a href="/message/<%=message.id %>">details</a>
        <br>
    <% }) %>
    <br>
    <br>
    <a href="/new">Send a message</a>
</body>
</html>